.hero-details{
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 60%;
}

.hero-container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

h1{
  font-size: 4rem;
}