.hero-list{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @font-face {
    font-family: bignoodletoo;
    source: url(../fonts/bignoodletoo.ttf) !important;
  }
}

.card{
  margin: 10px;
}