{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/heroes/hero-list.css' %}">
{% endblock %}
{% block content %}


<div class='hero-list'>
{% for hero in heroes %}
<div class="card" style="width:25rem;">
  <a href ="{% url 'hero_detail' hero.id %}">
    <div class="card-body">
      <h4 class="card-title">{{ hero.name }}</h4>
      <img src="{{ hero.portrait }}" alt="{{ hero.name }}" class="card-img-top">
    </div>
  </a>
</div>
{% endfor %}
</div>
{% endblock %}